.container
  .template
    width 80vw
    overflow hidden
    float left
    >.header
      width 800px
      height 48px
      background-color gray
      padding 0 28px
      >.edit-title
        height 48px
        line-height 48px
  >.edit-container
    width 18vw
    float right
